<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Caretaker Dashboard</title>
    <link href="/static/css/caretaker.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/shared.css">
  </head>
  <body>
    <aside>
      <div class="aside-item">
        <span class="aside-wordmark">RMS MENU</span>
        <button id="profile-btn">{{ caretaker_name }}</button>
      </div>
    </aside>

    <div class="dash-container">
      <header>
        <h1>overview</h1>
        {{ building_selector }}
      </header>

      <div class="overview-row">
        <div class="overview-card">
          <span class="card-value">{{ pending_count }}</span>
          <span class="card-label">pending</span>
        </div>

        <div class="overview-card">
          <span class="card-value">{{ inprogress_count }}</span>
          <span class="card-label">in progress</span>
        </div>

        <div class="overview-card">
          <span class="card-value">{{ resolved_count }}</span>
          <span class="card-label">resolved</span>
        </div>
      </div>

      <div class="request-section">
        <div class="request-panel">
          <div class="panel-header">
            <h2 class="panel-title">REQUESTS</h2>
          </div>

          <div class="request-card">
            <div class="request-view">
              {{ pending_card }}
            </div>
          </div>
        </div>

        <div class="request-panel">
          <div class="panel-header">
            <h2 class="panel-title">IN PROGRESS</h2>
          </div>

          <div class="request-card">
            <div class="request-view">
              {{ inprogress_card }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="profile-modal" class="modal-overlay card-hidden">
      <div class="modal-card" onclick="event.stopPropagation()">
        <form action="/update_profile" method="POST" id="profile-form">
          <p class="modal-title">personal details</p>
          <div class="input-row">
            <div class="input-container">
              <label for="update-fname">first name</label>
              <input type="text" id="update-fname" name="first-name" value="{{ profile_fname }}">
              <span id="update-fname-error" class="error-message"></span>
            </div>
            <div class="input-container">
              <label for="update-lname">last name</label>
              <input type="text" id="update-lname" name="last-name" value="{{ profile_lname }}">
              <span id="update-lname-error" class="error-message"></span>
            </div>
          </div>

          <p class="modal-title">contacts</p>
          <div class="input-row">
            <div class="input-container">
              <label for="update-email">email</label>
              <input type="text" id="update-email" name="email" value="{{ profile_email }}">
              <span id="update-email-error" class="error-message"></span>
            </div>
            <div class="input-container">
              <label for="update-number">number</label>
              <input type="text" id="update-number" name="number" value="{{ profile_number }}" placeholder="07XXXXXXXX">
              <span id="update-number-error" class="error-message"></span>
            </div>
          </div>

          <p class="modal-title">password</p>
          <div class="input-row">
            <div class="input-container">
              <label for="update-password">new password</label>
              <input type="text" id="update-password" name="password">
              <span id="update-password-error" class="error-message"></span>
            </div>
            <div class="input-container">
              <label for="update-confirm-password">confirm password</label>
              <input type="text" id="update-confirm-password" name="confirm-password">
              <span id="update-confirm-password-error" class="error-message"></span>
            </div>
          </div>

          <button type="submit" class="form-button">update account</button>
        </form>
      </div>
    </div>

    <script type="module" src="../static/js/main.js"></script>
  </body>
</html>
