<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RMS</title>
    <link href="/static/css/shared.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
  </head>
  <body>
    <div class="main">
      <div class="introduction">
        <h1>RMS</h1>
        <p>the smart way to manage your building.</p>
      </div>
      <div class="button-group">
        <button id="signup-btn">sign up</button>
        <button id="login-btn">login</button>
      </div>
    </div>

    <div id="signup-modal" class="modal-overlay card-hidden">
      <div class="modal-card">
        <form action="/signup" method="POST" id="signup-form">
          <p class="modal-title">personal details</p>
          <div class="input-row">
            <div class="input-container">
              <label for="first-name">first name</label>
              <input type="text" id="first-name" name="first-name">
              <span id="fname-error" class="error-message"></span>
            </div>
            <div class="input-container">
              <label for="last-name">last name</label>
              <input type="text" id="last-name" name="last-name">
              <span id="lname-error" class="error-message"></span>
            </div>
          </div>

          <p class="modal-title">contacts</p>
          <div class="input-row">
            <div class="input-container">
              <label for="email">email</label>
              <input type="text" id="email" name="email">
              <span id="email-error" class="error-message"></span>
            </div>
            <div class="input-container">
              <label for="number">number</label>
              <input type="text" id="number" name="number" placeholder="07XXXXXXXX">
              <span id="number-error" class="error-message"></span>
            </div>
          </div>

          <p class="modal-title">role</p>
          <div class="input-container">
            <label for="role">user role</label>
            <select id="role" name="role">
              <option value="" disabled selected>select role</option>
              <option value="tenant">tenant</option>
              <option value="caretaker">caretaker</option>
              <option value="landlord">landlord</option>
            </select>
            <span id="role-error" class="error-message"></span>
          </div>

          <p class="modal-title">credentials</p>
          <div class="input-container">
            <label for="signup-password">password</label>
            <input type="text" id="signup-password" name="password">
            <span id="password-error" class="error-message"></span>
          </div>

          <button type="submit" class="form-button">create account</button>
        </form>
      </div>
    </div>

    <div id="login-modal" class="modal-overlay card-hidden">
      <div class="modal-card">
        <form action="/login" method="POST">
          <p class="modal-title">credentials</p>
          <div class="input-container">
            <label for="login-email">email</label>
            <input type="text" id="login-email" name="email">
          </div>
          <div class="input-container">
            <label for="login-password">password</label>
            <input type="text" id="login-password" name="password">
          </div>
          <button type="submit" class="form-button">login</button>
        </form>
      </div>
    </div>

    <script type="module" src="/static/js/main.js"></script>
  </body>
</html>
