<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Property Portfolio</title>
    <link href="/static/css/landlord_pages/shared.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/landlord_pages/building.css">
    <link rel="stylesheet" href="/static/css/shared.css">
  </head>
  <body>
    <aside>
      <div class="aside-items">
        <span class="aside-wordmark">RMS MENU</span>
        <a href="/landlord">profile</a>
        <a href="/landlord/buildings" class="current-page">buildings</a>
      </div>
    </aside>

    <div class="dash-container">
      <header class="dash-header">
        <div class="header-group">
          <a href="/landlord" class="back-link">← back to dashboard</a>
          <h1 class="page-title">property portfolio</h1>
          <span class="date-stamp">{{ buildings_count }}</span>
       </div>
        <button class="header-btn" id="open-add-modal">add building +</button>
      </header>
      {{ building_header }}
      <div class="table-panel">
        <table>
          <thead>
            <tr>
              <th>building</th>
              <th>monthly collection</th>
              <th>occupied</th>
              <th>vacant</th>
              <th>caretaker</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{ buildings_table }}
          </tbody>
        </table>
      </div>
    </div>

    <div id="add-building-modal" class="modal-overlay card-hidden">
      <div class="modal-card">
        {{ building_form_html }}
      </div>
    </div>

    <div id="add-unit-modal" class="modal-overlay card-hidden">
      <div class="modal-card">
        {{ unit_form_html }}
      </div>
    </div>

    <div id="assign-building-modal" class="modal-overlay card-hidden">
      <div class="modal-card">
        {{ assign_form }}
      </div>
    </div>

    <script type="module" src="/static/js/main.js"></script>
  </body>
</html>
