<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Property Portfolio</title>
    <link href="/static/css/landlord_pages/shared.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/landlord_pages/building.css">
  </head>
  <body>
    <aside>
      <div class="aside-items">
        <a href="/landlord">profile</a>
        <a href="landlord/buildings" class="current-page">buildings</a>
        <a href="/landlord/units">units</a>
      </div>
    </aside>

    <div class="dash-container">
      <header class="dash-header">
        <div class="header-group">
          <a href="/landlord" class="back-link">← back to dashboard</a>
          <h1 class="page-title">property portfolio</h1>
          <span class="date-stamp">{{buildings_count}}</span>
        </div>
        <button class="header-btn" id="open-add-modal">add building +</button>
      </header>

      <div class="split-view">
        <div class="master-list">
          {{buildings_list}}
        </div>

        <main class="detail-panel">
          {{detail}}
        </main>
      </div>
    </div>

    <div id="add-building-modal" class="card-hidden">
      <div class="add-building-card">
        {{ building_form_html }}
      </div>
    </div>

    <div id="add-unit-modal" class="card-hidden">
      <div class="add-unit-card">
        {{ unit_form_html }}
      </div>
    </div>

    <div id="assign-building-modal" class="card-hidden">
      <div class="assign-building-card">
        {{ assign_form }}
      </div>
    </div>
    <script type="module" src="../static/js/main.js"></script>
  </body>
</html>
