<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unit Portfolio</title>
    <link href="/static/css/landlord_pages/pages.css" rel="stylesheet">
  </head>
  <body>
    <aside>
      <div class="aside-items">
        <a href="/landlord/dashboard">profile</a>
        <a href="/landlord/buildings">buildings</a>
        <a href="/landlord/units" class="current-page">units</a>
    </aside>

    <div class="dash-container">
      <header class="dash-header">
        <div class="header-group">
          <a href="/landlord/dashboard" class="back-link">← back to dashboard</a>
          <h1 class="page-title">units portfolio</h1>
          <span class="date-stamp">{{units_count}}</span>
        </div>
        <button class="header-btn" id="open-add-modal">add unit +</button>
      </header>

      <div class="split-view">
        <div class="master-list">
          {{units_list}}
        </div>

        <main class="detail-panel">
          {{detail}}
        </main>
      </div>
    </div>

    <div id="add-unit-modal" class="card-hidden">
      <div class="add-unit-card">
        {{ unit_form_html }}
      </div>
    </div>
    <script type="module" src="../static/js/main.js"></script>
  </body>
</html>

