<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tenant Dashboard</title>
    <link href="/static/css/tenant.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/tenant.css">
  </head>
  <body>
    <aside>
      <div class="aside-item">
        <button id="profile-btn">{{ tenant_name }}</button>
      </div>
    </aside>

    <div class="dash">
      <header>
        <h1 class="unit-name">{{ unit_name }}</h1>
        <span class="apartment-name">{{ apartment_name }}</span>
        <span class="rent-amount">{{ rent_amount }}</span>
      </header>

      <div class="recent-activity">
        <h2 class="section-header">recent activity</h2>

        <div class="activity-row">
          <div class="activity-container">
            <h3>maintenance</h3>
            {{ request_card }}
          </div>

          <div class="activity-container">
            <h3>payments</h3>
            {{ payment_card }}
          </div>
        </div>
      </div>

      <div class="action-container">
        <h2 class="section-header">actions</h2>
        <div class="btn-row">
          <div class="action-btn">
            <button id="report-btn">report issue</button>
            <span>raise a request</span>
          </div>

          <div class="action-btn">
            <button>pay rent</button>
            <span>submit payment</span>
        </div>
        </div>
      </div>
    </div>

    <div id="request-modal" class="card-hidden">
      <div class="request-card">
        <form action="/tenant/request/submit" method="POST">
          <p class="form-title">report issue</p>
          <div class="input-container">
            <label for="desctription">description</label>
            <input type="text" id="desc" name="desctription">
            <input type="hidden" name="unit_id" value="{unit_id}">
          </div>
          <button type="submit" class="form-button">submit</button>
        </form>
      </div>
    </div>

     <div id="profile-modal" class="modal-overlay card-hidden">
       <div class="profile-card">
         <form action="/update_profile" method="POST" id="profile-form">
           <p class="modal-title">personal details</p>
           <div class="input-row">
             <div class="input-container">
               <label for="update-fname">first name</label>
               <input type="text" id="update-fname" name="first-name">
               <span id="update-fname-error" class="error-message"></span>
             </div>

             <div class="input-container">
               <label for="update-lname">last name</label>
               <input type="text" id="update-lname" name="last-name">
               <span id="update-lname-error" class="error-message"></span>
             </div>
           </div>

           <p class="modal-title">contacts</p>
           <div class="input-row">
             <div class="input-container">
               <label for="update-email">email</label>
               <input type="text" id="update-email" name="email">
               <span id="update-email-error" class="error-message"></span>
             </div>
             <div class="input-container">
               <label for="update-number">number</label>
               <input type="text" id="update-number" name="number" placeholder="07XXXXXXXX">
               <span id="update-number-error" class="error-message"></span>
             </div>
           </div>

           <p class="modal-title">credentials</p>
           <div class="input-container">
             <label for="update-password">password</label>
             <input type="password" id="update-password" name="password">
             <span id="update-password-error" class="error-message"></span>
           </div>
        </div>

        <button type="submit" class="form-button">update account</button>
      </form>
    </div>

    <script type="module" src="../static/js/main.js"></script>
  </body>
</html>
